<div id="form">
    <form action="/addOfferImages" method="POST" enctype="multipart/form-data">

      <div>
        <label>Image :</label>   
        <input type="file" name="images"  placeholder="Enter Images For Offer Page"  required>
      </div>

      <div class="submitButton">
                <input id="submit" type="submit" value="Add Images">
      </div>

    </form>

</div>