<div id="form">
    <form action="/addProduct" method="POST">
      <div>
        <label>Product Url :</label>   
        <input type="text" name="productUrl"  placeholder="Product Link" required autocomplete="off">
      </div>

      <div>
        <label>Categories Domain :</label>   
        <input type="text" name="categoriesDomain"  placeholder="Like Men Women Kids" required>
      </div>

      <div>
        <label>Product Domain :</label>   
        <input type="text" name="productDomain"  placeholder="Like Topwear Bottomwear Footwear" required>
      </div>

      <div>
        <label>Trending :</label>   
        <input type="text" name="trending"  placeholder="Yes or No" required>
      </div>

     <div>
        <label>Image Url :</label>   
        <input type="text" name="imageUrl"  placeholder="Enter Image URL" required autocomplete="off" >
    </div>

    <div>
      <label>Image Url 2 :</label>   
      <input type="text" name="imageUrl2"  placeholder="Enter Image URL"  autocomplete="off" >
    </div>

    <div>
      <label>Image Url 3 :</label>   
      <input type="text" name="imageUrl3"  placeholder="Enter Image URL"  autocomplete="off" >
    </div>

    <div>
      <label>Product Type :</label>   
      <input type="text" name="productType"  placeholder="Like Formal Sports Casual etc." >
    </div>

     <div>
        <label>Categories Name :</label>   
        <input type="text" name="categoriesName"  placeholder="Like Shirt Lehanga Jeans Tv etc." required>
    </div>

    <div>
      <label>Original Name :</label>   
      <input type="text" name="originalName"  placeholder="Enter Original Name As In Website" required autocomplete="off">
  </div>

     <div>
        <label>Description :</label>   
        <input type="text" name="description"  placeholder="Enter Description" required autocomplete="off">
    </div>

     <div>
        <label>Current Price :</label>   
        <input type="text" name="currentPrice"  placeholder="Enter Current Price" required autocomplete="off">
    </div>

     <div>
        <label>Original Price :</label>   
        <input type="text" name="originalPrice"  placeholder="Enter Original Price" required autocomplete="off">
    </div>

     <div>
        <label>Off Percent :</label>   
        <input type="text" name="offPercent"  placeholder="Enter Off Percent" required >
    </div>

     <div>
        <label>Brand Name :</label>   
        <input type="text" name="brandName"  placeholder="Enter Brand Name" required autocomplete="off">
    </div>

     <div>
        <label>First Keyword :</label>   
        <input type="text" name="searchKeywordFirst"  placeholder="Enter First Keyword" required autocomplete="off">
    </div>

     <div>
        <label>Second Keyword :</label>   
        <input type="text" name="searchKeywordSecond"  placeholder="Enter Second Keyword" required autocomplete="off">
    </div>

     <div>
        <label>Third Keyword :</label>   
        <input type="text" name="searchKeywordThird"  placeholder="Enter Third Keyword" autocomplete="off" >
    </div>

     <div>
        <label>Fourth Keyword :</label>   
        <input type="text" name="searchKeywordFour"  placeholder="Enter Fourth Keyword" autocomplete="off" >
    </div>

    <div>
      <label>Product Option :</label>   
      <select id="productOption" name="fixProductImage">
        <option value="">None</option>

        <%- include('./productOptions.ejs') %>

      </select>
    </div>




    <div class="submitButton">
        <input id="submit" type="submit" name="" value="Add Product">
    </div>

    </form>

</div>