
   <script defer src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
   <script defer src="http://malsup.github.com/jquery.cycle2.js"></script>
    <script defer src="/js/navbarJquery.js"></script>
    <script defer src="/js/navbarJs.js"></script>
    
    <script defer src="/js/jquery.lightbox_me.js"></script>
</body>
</html>