<section class="footer" id="<%= ( totalItemCount < 6 ) ? 'footer' : '' %>">
		
    <div id="contactUs">
        <span>Contact Us</span>

        <ul>
            <li>
                <a href="tel:+916283162198">
                    <span><i class="fa fa-whatsapp" ></i>
                    </span> <span>+91 6283162198</span> 
                </a>
            </li>

            <li>
                <a href="mailto:theshopperking@hotmail.com">
                    <span><i class="fa fa-envelope"></i></span> 
                    <span>theshopperking@hotmail.com</span>
                </a>
            </li>

            <li>
                <a href="mailto:theshopperking@hotmail.com">
                    <span><i class="fa fa-envelope"></i></span> 
                    <span>theshopperking@hotmail.com</span>
                </a>
            </li>

        </ul>
        
    </div>
    <div id="followUs">
        <span>Follow Us</span>
        <ul>
            <li><a href="https://www.facebook.com/theshopper.king.7"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/theshopperking/"><i class="fa fa-instagram" ></i></a></li>
            <li><a href="https://twitter.com/theshopperking"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
    <div id="termAndCondition">
        <ul>
            <li><i class="fa fa-copyright"></i> Copyright 2020</li>
            <li><a href="/termCondition">Terms & Conditions</a></li>
            
        </ul>
    </div>

</section>