<div id="toggle">

  <div class="toggleLeftPart">

      
    <div class="toggle-description">
      <span id="toggle-menu-button"><i class="fa fa-bars"></i></span>
      <span class="shop-name">TSK</span>
      <span id="toggle-close"><i class="fa fa-times"></i></span>
    </div>

  

    <ul id="toggle-menu">
    
      <li><a href="/" class="toggle-menu-item">Today's Offer</a></li>
      <li><a href="/getCategories/?categories=men" class="toggle-menu-item">Men</a></li>
      <li><a href="/getCategories/?categories=women" class="toggle-menu-item">Women</a></li>
      <li><a href="/getCategories/?categories=kids" class="toggle-menu-item">Kids</a></li>
      <li><a href="/getCategories/?categories=electronics" class="toggle-menu-item">Electronics</a></li>
      <li><a href="/getCategories/?categories=homeAppliance" class="toggle-menu-item">Home Appliance</a></li>
     
    </ul>

  

  </div>


</div>