<% if(totalItems <= 0) { %>
    <div class="noProductFound">
        <ul id="noProductLists">
            <li class="noProductItem"><a href="/getProduct/?product=men-topwear">Men Topwear</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=men-bottomwear">Men Bottomwear</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=men-footwear">Men Footwear</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=men-shirt">Men Shirt</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=men-tshirt">Men T-Shirt</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=men-jeans">Jeans</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=women-underclothes">Under Clothes</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=women-westernwear">Western Wear</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=women-ethnicwear">Ethnic Wear</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=women-tshirtshirttops">Tops</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=women-skirts">Skirts</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=women-beauty&groom">Beauty Products</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=women-footwear">Women Footwear</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=mobiles">Mobile</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=laptops">Laptops</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=television">Television</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=airconditioners">Air Conditioner</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=accessories">Mobile Accessories</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=boy-topwear">Boys Topwear</a></li>
            <li class="noProductItem"><a href="/getProduct/?product=girl-topwear">Girls Topwear</a></li>
             
        </ul>
    </div>
<% } %>


