<option value="babycare">Baby Care</option>
<option value="diapers">Diapers</option>
<option value="hairoil">Hair Oil</option>
<option value="accessories">Accessories</option>
<option value="bags">Bags</option>
<option value="watches">Watch</option>
<option value="toys">Toys</option>
<option value="mobiles">Mobiles</option>
<option value="mi">Mi</option>
<option value="oppo">Oppo</option>
<option value="vivo">Vivo</option>
<option value="apple">Apple</option>
<option value="honor">Honor</option>
<option value="asus">Asus</option>
<option value="oneplus">One Plus</option>
<option value="samsung">Samsung</option>
<option value="nokia">Nokia</option>
<option value="laptops">Laptops</option>
<option value="hp">HP</option>
<option value="dell">Dell</option>
<option value="lenovolaptop">Lenovo</option>
<option value="asuslaptop">Asus</option>
<option value="acer">Acer</option>
<option value="macbook">Macbook</option>
<option value="electronic-accessories">Accessories</option>
<option value="pendrives">Pendrives</option>
<option value="externalharddisks">External Hard Disks</option>
<option value="mouse">Mouse</option>
<option value="keyboard">Keyboard</option>
<option value="laptopskin">Laptop Skin</option>
<option value="earphones">Earphones</option>
<option value="headphones">Headphones</option>
<option value="bluetoothearphones">Bluetooth Earphones</option>
<option value="mobilecovers">Mobile Covers</option>
<option value="datacables">Data Cables</option>
<option value="mobilecharger">Mobile Charger</option>
<option value="powerbank">Power Bank</option>
<option value="bluetoothspeakers">Bluetooth Speakers</option>
<option value="smartbands">Smart Bands</option>
