<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/underMaintenance.css">
    <title>Under Maintenance</title>
</head>

<body>

    
    <div class="underMaintenance">

   
    <p class="content">Site Under Maintenance</p>
    <p class="content">We will come back soon!</p>
    <p class="content">- The Shopper King</p>

    <div class="underMaintenancelogo">
       
        <img src="/assets/underMaintenance.svg">
    </div>

    </div>


</body>

</html>