body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 44px  auto  10.5rem;
    grid-template-rows: 44px  auto  10.5rem;
}

nav {
    -ms-grid-row : 1;
    grid-row: 1/2;
}

.noProductFound {
    -ms-grid-row : 2;
    grid-row: 2/3;
}

.footer {
    -ms-grid-row : 3;
    grid-row: 3/4;
}