.underMaintenance {
    width: 90%;
    height: 90vh;
    position: relative;
}

p:nth-child(1) {
    font-size: 2rem;
    margin: 0;
    color: rgb(231, 68, 68);
}

p:nth-child(2) {
    font-size: 1.5rem;
    margin: 0.5rem 0 0 0;
    color: #7bc043;
}

p:nth-child(3) {
    font-size: 1.5rem;
    margin: 0.7rem 0 2rem 0;
    color: #0facf3;
}




.underMaintenancelogo {
    position: relative;
    width: 90%;
    height: 70%;
    left: 6%;
}

.content {
    text-align: center;
}

.underMaintenancelogo >img {
    width: 100%;
    height: 100%;
}

@media (max-width:40rem) {
    p:nth-child(1) {
        font-size: 1.5rem;
     
    }
    
    p:nth-child(2) {
        font-size: 1.2rem;
        
    }
    
    p:nth-child(3) {
        font-size: 1.3rem;
        
    }
}